## Milano grid

In [20]:
import json
from pprint import pprint
import numpy as np
import pandas as pd

In [ ]:
milano_grid_path = "data/milano-grid.geojson"

with open(milano_grid_path) as f:
    grid_data = json.load(f)

In [10]:
# pprint(grid_data)

print(len(grid_data["features"]))
pprint(grid_data["features"][0])
pprint(grid_data["features"][1])

10000
{'geometry': {'coordinates': [[[9.0114910478323, 45.35880131440966],
                               [9.014491488013135, 45.35880097314403],
                               [9.0144909480813, 45.35668565341486],
                               [9.011490619692509, 45.356685994655464],
                               [9.0114910478323, 45.35880131440966]]],
              'type': 'Polygon'},
 'id': 0,
 'properties': {'cellId': 1},
 'type': 'Feature'}
{'geometry': {'coordinates': [[[9.014491488013135, 45.35880097314403],
                               [9.017491928134044, 45.358800553060284],
                               [9.017491276410173, 45.35668523336193],
                               [9.0144909480813, 45.35668565341486],
                               [9.014491488013135, 45.35880097314403]]],
              'type': 'Polygon'},
 'id': 1,
 'properties': {'cellId': 2},
 'type': 'Feature'}

### Why are there 5 coordinates?

In [19]:
for feature in grid_data["features"]:
    coordinates = feature["geometry"]["coordinates"][0]
    if coordinates[0] != coordinates[4]:
        print("first and last coordinates are different")
        
print("finished searching")

finished searching

## Internet traffic

In [29]:
internet_data_path = "data/sms-call-internet-mi-2013-11-01.txt"

data = pd.read_csv(internet_data_path, delimiter="\t", nrows=100, header=None, 
            usecols=[0, 1, 7], names=["square_id", "time", "internet"])

In [30]:
data.head(n=8)

   square_id           time   internet
0          1  1383260400000        NaN
1          1  1383260400000  11.028366
2          1  1383261000000        NaN
3          1  1383261000000   0.026137
4          1  1383261000000  11.100963
5          1  1383261600000        NaN
6          1  1383261600000  10.892771
7          1  1383262200000        NaN

In [56]:
print("number of rows with no internet data: {0}".format(data.isna().internet.sum()))

cleaned_data = data.dropna()

number of rows with no internet data: 40

60

In [ ]:
TODO: sumappint Ä¯ 3D numpy array